RAILS_ENV={{ rails_env }}
PORT={{ rails_port }}
DB_USERNAME={{ db_user }}
DB_HOSTNAME={{ db_hostname }}
RAILS_LOG_TO_STDOUT={{ rails_log_to_stdout }}
RAILS_MASTER_KEY={{ rails_master_key }}
APP_DATABASE_PASSWORD={{ db_password }}